@import "vars";
@import "color-text";

@font-face {
  font-family: Missguided;
    font-weight: 700;
    src: url('../missguided-bold.woff2') format("woff2");
}

@font-face {
  font-family: Missguided;
  font-weight: 300;
  src: url('../missguided-light.woff2') format("woff2");
}

body {
  font-family: Missguided, sans-serif;
  background-color: #1a1a1a;
  color: #fefefe;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.3em;
  line-height: 2;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  text-align: center;
}

.images {
  display: flex;
  flex-direction: row;

  div {
    padding: 1em;
    img {
      height: auto;
      width: 100%;
    }
  }
}

.txt {
  display: block;
}

a {
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  color: #eee;
  font-size: 15px;
  line-height: 15px;
}

#upload-form {
  width: 100px;
  margin: 0 auto;
}

button {
  width: 200px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  border: 2px solid pink;
  cursor: pointer;

  &:hover {
    background: pink;
    border: 2px solid black;
    color: white;
  }
}

.file-upload {
  display: block;
  padding: 1rem;
  width: 100%;
  border: 3px dashed #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
}
.file-upload img {
  transform: rotate(90deg);
  filter: invert(1);
  width: 90px;
}
#file-upload {
  opacity: 0;
}